DATABASE_URL="postgresql://postgres:postgres@postgres:5432/gameBoard?schema=public"
PORT=50051
KAFKA_TOPIC_USER_CREATED='user.created'
KAFKA_TOPIC_PROFILE_CREATED='gameBoard.created'
KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=gameBoard-client
KAFKA_GROUP_ID=gameBoard-service
