GRPC_PORT=50051

DATABASE_URL=postgresql://postgres:postgres@pgbouncer:6432/engine
DATABASE_DIRECT_URL=postgresql://postgres:postgres@pgbouncer:6432/engine

SERVICE_BATTLE_URL=battle:50051

JWT_ACCESS_SECRET=your_access_secret

PG_BOSS_MAX=5
PG_BOSS_NEW_CONNECTION_TIMEOUT_SECONDS=30
PG_BOSS_MAINTENANCE_INTERVAL_SECONDS=60
PG_BOSS_APPLICATION_NAME=engine-pgboss

KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=engine-client
KAFKA_GROUP_ID=engine-service
KAFKA_TOPIC_BATTLE_STARTED='battle.started'
KAFKA_TOPIC_BATTLE_UPDATED='battle.updated'

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=supersecret
