GRPC_PORT=50051

DATABASE_URL="postgresql://postgres:postgres@postgres:5432/engine?schema=public"

SERVICE_BATTLE_URL=battle:50051

JWT_ACCESS_SECRET="your_access_secret"

KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=engine-client
KAFKA_TOPIC_BATTLE_NEW='battle.new'
KAFKA_TOPIC_BATTLE_MAKE_MOVE='battle.make-move'
