services:
  gateway:
    build:
      context: .
      dockerfile: services/gateway/Dockerfile
    container_name: game-gateway
    env_file:
      - services/gateway/.env
    ports:
      - "50051:50051"
      - "9090:9090"
    volumes:
      - ./shared:/usr/src/app/shared
      - ./services/gateway/jest.config.js:/usr/src/app/services/gateway/jest.config.js
      - ./services/gateway/src:/usr/src/app/services/gateway/src/
      - ./services/gateway/__tests__:/usr/src/app/services/gateway/__tests__/
      - ./services/gateway/package.json:/usr/src/app/services/gateway/package.json
    command: pnpm dlx turbo run dev --parallel
    networks:
      - backend

  auth:
    build:
      context: .
      dockerfile: services/auth/Dockerfile
    container_name: game-auth
    env_file:
      - services/auth/.env
    environment:
      KAFKAJS_NO_PARTITIONER_WARNING: 1
    #    ports:
    #      - "50051:50051"
    volumes:
      - ./shared:/usr/src/app/shared
      - ./services/auth/prisma:/usr/src/app/services/auth/prisma
      - ./services/auth/src:/usr/src/app/services/auth/src/
      - ./services/auth/__tests__:/usr/src/app/services/auth/__tests__/
      - ./services/auth/package.json:/usr/src/app/services/auth/package.json
    depends_on:
      kafka:
        condition: service_healthy
      postgres:
        condition: service_healthy
    command: pnpm dlx turbo run dev --parallel
    networks:
      - backend

  test:
    build:
      context: .
      dockerfile: services/test/Dockerfile
    container_name: game-test
    env_file:
      - services/test/.env
    #    ports:
    #      - "50051:50051"
    volumes:
      - ./shared:/usr/src/app/shared
      - ./services/test/prisma:/usr/src/app/services/test/prisma
      - ./services/test/src:/usr/src/app/services/test/src/
      - ./services/test/__tests__:/usr/src/app/services/test/__tests__/
      - ./services/test/package.json:/usr/src/app/services/test/package.json
    command: pnpm dlx turbo run dev --parallel
    networks:
      - backend

  orchestration:
    build:
      context: .
      dockerfile: services/orchestration/Dockerfile
    container_name: game-orchestration
    env_file:
      - services/orchestration/.env
    #    ports:
    #      - "50051:50051"
    volumes:
      - ./shared:/usr/src/app/shared
      - ./services/orchestration/prisma:/usr/src/app/services/orchestration/prisma
      - ./services/orchestration/src:/usr/src/app/services/orchestration/src/
      - ./services/orchestration/__tests__:/usr/src/app/services/orchestration/__tests__/
      - ./services/orchestration/package.json:/usr/src/app/services/orchestration/package.json
    command: pnpm dlx turbo run dev --parallel
    networks:
      - backend

  battle:
    build:
      context: .
      dockerfile: services/battle/Dockerfile
    container_name: game-battle
    env_file:
      - services/battle/.env
    #    ports:
    #      - "50051:50051"
    volumes:
      - ./shared:/usr/src/app/shared
      - ./services/battle/prisma:/usr/src/app/services/battle/prisma
      - ./services/battle/src:/usr/src/app/services/battle/src/
      - ./services/battle/__tests__:/usr/src/app/services/battle/__tests__/
      - ./services/battle/package.json:/usr/src/app/services/battle/package.json
    command: pnpm dlx turbo run dev --parallel
    networks:
      - backend

  streaming:
    build:
      context: .
      dockerfile: services/streaming/Dockerfile
    container_name: game-streaming
    env_file:
      - services/streaming/.env
    ports:
      - "50052:50051"
    volumes:
      - ./shared:/usr/src/app/shared
      - ./services/streaming/prisma:/usr/src/app/services/streaming/prisma
      - ./services/streaming/src:/usr/src/app/services/streaming/src/
      - ./services/streaming/__tests__:/usr/src/app/services/streaming/__tests__/
      - ./services/streaming/package.json:/usr/src/app/services/streaming/package.json
    command: pnpm dlx turbo run dev --parallel
    networks:
      - backend

  profile:
    build:
      context: .
      dockerfile: services/profile/Dockerfile
    container_name: game-profile
    env_file:
      - services/profile/.env
    #    ports:
    #      - "50051:50051"
    volumes:
      - ./shared:/usr/src/app/shared
      - ./services/profile/prisma:/usr/src/app/services/profile/prisma
      - ./services/profile/src:/usr/src/app/services/profile/src/
      - ./services/profile/__tests__:/usr/src/app/services/profile/__tests__/
      - ./services/profile/package.json:/usr/src/app/services/profile/package.json
    command: pnpm dlx turbo run dev --parallel
    networks:
      - backend
    depends_on:
      kafka:
        condition: service_healthy
      postgres:
        condition: service_healthy

  engine:
    build:
      context: .
      dockerfile: services/engine/Dockerfile
    container_name: game-engine
    env_file:
      - services/engine/.env
  #    ports:
  #      - "50051:50051"
    volumes:
      - ./shared:/usr/src/app/shared
      - ./services/engine/prisma:/usr/src/app/services/engine/prisma
      - ./services/engine/src:/usr/src/app/services/engine/src/
      - ./services/engine/__tests__:/usr/src/app/services/engine/__tests__/
      - ./services/engine/package.json:/usr/src/app/services/engine/package.json
    command: pnpm dlx turbo run dev --parallel
    networks:
      - backend
    depends_on:
      - redis

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: game-kafka-ui
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:8080/actuator/health | grep '\"status\":\"UP\"' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s


  kafka:
    image: apache/kafka:4.1.1
    container_name: game-kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_CLUSTER_ID: e1aUPLXOTOqTnT0SvYXMIg
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
    volumes:
      - kafka_data:/var/lib/kafka/data
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "/opt/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --list >/dev/null 2>&1 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s

  postgres:
    image: postgres:17.6
    container_name: game-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 10s

  redis:
    image: redis:7.2
    container_name: game-redis
    networks:
      - backend
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

#  mongo:
#    image: mongo:8
#    container_name: game-mongo
#    restart: always
#    ports:
#      - "27017:27017"
#    environment:
#      MONGO_INITDB_ROOT_USERNAME: mongo
#      MONGO_INITDB_ROOT_PASSWORD: mongo
#      MONGO_INITDB_DATABASE: game
#    volumes:
#      - mongo_data:/data/db
#    networks:
#      - backend
#    healthcheck:
#      test: ["CMD", "mongo", "--eval", "db.adminCommand('ping')"]
#      interval: 10s
#      timeout: 5s
#      retries: 5
#      start_period: 10s
#
#  mailpit:
#    image: axllent/mailpit
#    container_name: game-mailpit
#    ports:
#      - 8025:8025
#      - 1025:1025
#    environment:
#      MP_WEBROOT : "/mailpit/"
##      MP_SMTP_AUTH_ACCEPT_ANY: 1
#      MP_SMTP_AUTH_ALLOW_INSECURE: 1
#      MP_SMTP_AUTH: "login:pass"
#      MP_MAX_MESSAGES: 5000
#    volumes:
#      - /data
#    networks:
#      - backend
#    restart: always
#    healthcheck:
#      test: ["CMD", "redis-cli", "ping"]
#      interval: 30s
#      timeout: 10s
#      retries: 5

volumes:
  postgres_data:
  kafka_data:
  mongo_data:

networks:
  backend:
    driver: bridge