GRPC_PORT=50051

DATABASE_URL="postgresql://postgres:postgres@postgres:5432/battle?schema=public"

KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=battle-client

KAFKA_TOPIC_BATTLE_STARTED=battle.started
KAFKA_TOPIC_BATTLE_UPDATED=battle.updated

