DATABASE_URL="postgresql://postgres:postgres@postgres:5432/spawner?schema=public"
KAFKA_BROKERS="kafka:9092"
KAFKA_CLIENT_ID="spawner-client"
KAFKA_TOPIC_ASTEROID_CREATED="spawner.created"
KAFKA_TOPIC_PROFILE_CREATED="profile.created"
KAFKA_GROUP_ID="spawner-service"
PORT="50051"

