DATABASE_URL="postgresql://postgres:postgres@postgres:5432/spawn?schema=public"
KAFKA_BROKERS="kafka:9092"
KAFKA_CLIENT_ID="spawn-client"
KAFKA_TOPIC_ASTEROID_CREATED="spawn.created"
KAFKA_TOPIC_PROFILE_CREATED="profile.created"
KAFKA_GROUP_ID="spawn-service"
PORT="3000"

