HTTP_GATEWAY=gateway:9090
WEBSOCKET_STREAMING=streaming:8080

DATABASE_URL=postgresql://postgres:postgres@pgbouncer:6432/ai
DATABASE_DIRECT_URL=postgresql://postgres:postgres@postgres:5432/ai

KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=ai-client
KAFKA_TOPIC_AI_CONNECTING_REQUEST=ai.connecting-request

DEVICE_ID=bot-device-id
